.app.dark {
    --bg-color: #020468dd;
    --inverted-bg-color: #eeed;
    --primary-color: #1cee00dd;
    --secondary-color: #0a0d;
    --inverted-primary-color: #000f97dd;
    --inverted-secondary-color: #2b37d6dd;
}
