.app.light {
  --bg-color: #eeeeeedd;
  --inverted-bg-color: #020468dd;

  --primary-color: #000f97dd;
  --secondary-color: #2b37d6dd;
  --inverted-primary-color: #1cee00dd;
  --inverted-secondary-color: #00aa00dd;
}
